[Unit]
Description=edgelet

[Service]
ExecStart=/usr/bin/edgelet --address=:10350
Restart=always
RestartSec=10
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target